<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>

    </head>
    <body>
        <head> 
            <img src="/img/image.png"alt="Meadowlark Travel" alt="Meadowlark Travel Logo">
        </head>
        {{{body}}}
    </body>
</html>