<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Hello World!</title>
    </head>
    <body>
        <header>
            <img src="/Ki-3/ch03/img/image.png" alt = "Hello World Logo">
        </header>
        <p>Hello world, and hello to you! Check out the <a href="about.handlebars">"About"</a> </p>
    </body>
</html>